<.header>
  Edit Task
  <:subtitle>Use this form to manage task records in your database.</:subtitle>
</.header>

<.user_task_form changeset={@changeset} action={~p"/users/#{@task.user_id}/tasks/#{@task.task_id}"} taskaction={@taskaction} />

<.back class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2" navigate={~p"/users/#{@task.user_id}/tasks"}>Back to user <%=@user.first_name %></.back>
